{% if site.google.adsense.enabled and site.google.adsense.client and site.google.adsense.footer and site.google.adsense.footer_slot and page.layout != 'mindmap' %}
<!-- Blog footer ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.google.adsense.client }}"
     data-ad-slot="{{ site.google.adsense.footer_slot }}"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
